{% extends 'blog/base.html' %}

{% block content %}
    <h1 id="edit_project_header">Add A Project</h1>
    <form method="post">{% csrf_token %}
        <label>
            Project Name
            <input id="edit_project_name_field" placeholder="Project Name"/>
        </label>
        <label>
            Description of Project
            <input id="edit_project_description_field" placeholder="Project Description"/>
        </label>
        <label>
            Technologies Used
            <input id="edit_project_technologies_field" placeholder="Technologies Used"/>
        </label>
        <button id="edit_project_save" type="submit">Save</button>

    </form>
{% endblock %}