{% extends 'blog/base.html' %}

{% block content %}
    <h1 id="edit_experience_header">Add Experience Entry</h1>
    <form method="post">{% csrf_token %}
        <label>
            Job Title
            <input id="edit_experience_title_field" placeholder="Job Title"/>
        </label>
        <label>
            Period of Employment
            <input id="edit_experience_period_field" placeholder="Period of Employment"/>
        </label>
        <label>
            Institution/Company
            <input id="edit_experience_company_field" placeholder="Institution/Company"/>
        </label>
        <label>
            Description of work
            <input id="edit_experience_description_field" placeholder="Description of Work"/>
        </label>
        <button id="edit_experience_save" type="submit">Save</button>
    </form>
{% endblock %}