{% extends 'blog/base.html' %}

{% block content %}
    <h1 id="edit_experience_header">Add Experience Entry</h1>
    <form method="post">{% csrf_token %}
        <label>
            Job Title
            <input name="edit_experience_title_input" placeholder="Job Title"/>
        </label>
        <label>
            Period of Employment
            <input name="edit_experience_period_input" placeholder="Period of Employment"/>
        </label>
        <label>
            Institution/Company
            <input name="edit_experience_company_input" placeholder="Institution/Company"/>
        </label>
        <label>
            Description of work
            <input name="edit_experience_description_input" placeholder="Description of Work"/>
        </label>
    </form>
{% endblock %}