{% extends 'blog/base.html' %}

{% block content %}
    <div class="container">
        <div class="basic">
            <div class="basic_header d-flex flex-row">
                <h2 id="basic_header_title">Basic Information</h2>
                <a id="edit_basic_information" href="{% url 'cv_edit_basic' %}">Edit Basic Information</a>
            </div>
            <div class="basic_body">
                <div class="row">
                    <p id="cv_basic_name">{{ basic.name }}</p>
                    <p id="cv_basic_email">{{ basic.email }}</p>
                    <p id="cv_basic_phone">{{ basic.phone }}</p>
                </div>
                <div class="row">
                    <p id="cv_basic_github">{{ basic.github }}</p>
                    <p id="cv_basic_linkedin">{{ basic.linkedin }}</p>
                </div>
            </div>
        </div>

        <div class="education">
            <div class="education_header d-flex flex-row">
                <h2 id="education_header_title">Education</h2>
                <a id="new_education_button" href="{% url 'cv_new_education' %}">Add new Education entry</a>
            </div>
            <div class="education_body">
                {% for education in educationEntries %}
                    <div class="card text-center">
                        <div class="card-header">
                            <h2 class="cv_education_qualification">{{ education.qualification }}</h2>
                            <p class="cv_education_period">{{ education.period }}</p>
                            <p class="cv_education_institution"> {{ education.institution }}</p>
                            <a href="{% url 'cv_edit_education' pk=education.pk %}" class="edit_education">Edit</a>
                        </div>
                        <div class="card-body">
                            <p class="cv_education_grade">{{ education.grade }}</p>
                            <p class="cv_education_description">{{ education.description }}</p>
                        </div>
                        <div class="card-footer text-muted">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="experience">
            <div class="experience_header d-flex flex-row">
                <h2 id="experience_header_title">Experience</h2>
                <a id="new_experience_button" href="{% url 'cv_new_experience' %}">Add new Experience entry</a>
            </div>
            <div class="education_body">
                {% for experience in experienceEntries %}
                    <div class="card text-center">
                        <div class="card-header">
                            <h2 class="cv_experience_title">{{ experience.title }}</h2>
                            <p class="cv_experience_period">{{ experience.period }}</p>
                            <p class="cv_experience_institution">{{ experience.institution }}</p>
                            <a href="{% url 'cv_edit_experience' pk=experience.pk %}" class="edit_experience">Edit</a>
                        </div>
                        <div class="card-body">
                            <p class="cv_experience_description">{{ experience.description }}</p>
                        </div>
                        <div class="card-footer text-muted">
                            <p class="cv_experience_referee">{{ experience.referee }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="project">
        <div class="project_header d-flex flex-row">
            <h2 id="project_header_title">Projects</h2>
            <a id="new_project_button" href="{% url 'cv_new_project' %}">Add new Project entry</a>
        </div>
        <div class="project_body">
            <div class="card-group">
                {% for project in projectEntries %}
                    <div class="card">
                        <img class="card-img-top" src="#" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="cv_project_title"> {{ project.title }}</h2>
                            <p class="cv_project_description">{{ project.description }}</p>
                            <p class="cv_project_technologies">{{ project.technologies }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'cv_edit_project' pk=project.pk %}" class="edit_project">Edit</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="skill">
        <div class="skill_header d-flex flex-row">
            <h2 id="skill_header_title">Skills</h2>
            <a id="new_skill_button" href="{% url 'cv_new_skill' %}">Add new Skill entry</a>
        </div>
        <div class="skill_body">
            {% for skill in skillEntries %}
                <p class="cv_skill_name">{{ skill.name }}</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}